* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* gray styles */
  --background-gray: #f3f4f6;
  --color-gray: #1f2937;

  /* red styles */
  --background-red: #fee2e2;
  --color-red: #991b1b;
  --alt-background-red: #fef2f2;
  --alt-color-red: #b45309;

  /* yellow styles */
  --background-yellow: #fcd48ade;
  --color-yellow: #92400e;
  --alt-background-yellow: #fffbeb;
  --alt-color-yellow: #b45309;

  /* green styles */
  --background-green: #d1fae5;
  --color-green: #065f46;
  --alt-background-green: #ecfdf5;
  --alt-color-green: #047857;

  /* blue styles */
  --background-blue: #dbeafe;
  --color-blue: #1e40af;
  --alt-background-blue: #eff6ff;
  --alt-color-blue: #1c51b9;

  /* indigo styles */
  --background-indigo: #e0e7ff;
  --color-indigo: #3730a3;

  /* purple styles */
  --background-purple: #ede9fe;
  --color-purple: #5b21b6;

  /* pink styles */
  --background-pink: #fce7f3;
  --color-pink: #9d174d;
}

.page-wrapper {
  background-image: url("./assets/images/light-shadows.jpg");
  background-color: rgba(228, 244, 255, 0.5);
  background-blend-mode: color-burn;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #00253d;
  font-family: "Roboto Condensed", sans-serif;
  padding: 20px;
  text-align: center;
  position: relative;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.img-logo {
  width: 1.8rem;
  margin-inline: 0.2rem;
}

a {
  text-decoration: none;
  font-weight: 800;
  color: #00253d;
  text-shadow: 0 0 25px rgba(255, 255, 255);
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  opacity: 0.9;
  transition: background-color 0.3s;
  margin-inline: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  margin-top: 0.3rem;
}

main {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 2px;
  margin-top: 5rem;
  padding: 1rem;
  box-shadow: inset 3px 3px 15px -3px;
  max-width: 1000px;
  margin-inline: auto;
}

/************* ADD VAN STYLES *************/

.form-add {
  border-radius: 2px;
  padding: 0 1rem;
  margin-inline: auto;
  font-family: inherit;
  min-width: 400px;
  max-width: 600px;
}

h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0px 0px 20px 0px;
  /* color: #5C5C5C; */
  font-size: x-large;
}
.form-add ul {
  display: grid;
  grid-template-columns: 50% 8% 1fr;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.form-add li {
  /* display: block; */
  padding: 9px;
  border: 1px solid #00253d42;
  margin-bottom: 1rem;
  border-radius: 3px;
}

.form-add li:not(:last-child):hover {
  box-shadow: inset 3px 3px 5px -5px;
}

.form-add input,
select {
  background: none;
}

.form-add li:nth-child(1) {
  grid-column: 1 / span 3;
}
.form-add li:nth-child(2) {
  grid-column: 1 / span 2;
}
.form-add li:nth-child(3) {
  grid-column: 3;
}
.form-add li:nth-child(4) {
  grid-column: 1;
}
.form-add li:nth-child(5) {
  grid-column: 2 / span 3;
}
.form-add li:nth-child(6) {
  grid-column: 1;
}
.form-add li:nth-child(7) {
  grid-column: 2 / span 3;
}
.form-add li:nth-child(8) {
  grid-column: 1;
}
.form-add li:nth-child(9) {
  grid-column: 2 / span 3;
}
.form-add li:nth-child(10) {
  grid-column: 1;
}
.form-add li:nth-child(11) {
  grid-column: 2 / span 3;
}
.form-add li:nth-child(12) {
  grid-column: 1;
}
.form-add li:nth-child(13) {
  grid-column: 2 / span 3;
}
.form-add li:nth-child(14) {
  grid-column: 1;
}
.form-add li:nth-child(15) {
  grid-column: 2 / span 3;
}
.form-add li:last-child {
  grid-column: 1 / span 3;
  border: none;
  margin-bottom: 0px;
  text-align: center;
}

li > label {
  display: block;
  float: left;
  margin-top: -27.5px;
  height: 14px;
  padding: 2px 5px 2px 5px;
  color: #00253d;
  font-size: 1rem;
  font-family: inherit;
}

.form-add input[type="text"],
.form-add textarea {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: inherit;
}

.form-add select,
select {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}

li > span {
  background-color: #00253d20;
  display: block;
  padding: 3px;
  margin: 0 -9px -9px -9px;
  text-align: center;
  color: #00253dc6;
  font-family: inherit;
  font-size: 11px;
}

.form-add textarea {
  resize: none;
}

.form-add input[type="submit"] {
  background: #00253daa;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #f1f5fd;
  font-weight: 600;
}

.form-add input[type="submit"]:hover {
  cursor: pointer;
  background: #00253dbc;
  color: #ffffff;
}

.form-add input[type="submit"]:active {
  box-shadow: inset 3px 3px 8px -3px #000000;
}

/************* VAN LIST STYLES *************/

.van-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  gap: 1rem;
  justify-content: center;
}

.van-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto 1fr;
  gap: 0.5rem;
  min-width: fit-content;
  max-width: 25%;
  padding: 0.75rem;
  border: 1px solid #00253d42;
  margin-bottom: 1rem;
  border-radius: 3px;
  letter-spacing: 0.5px;
  text-align: left;
  align-items: last first baseline;
}

.van-container:hover,
.van-container:focus {
  box-shadow: inset 2px 2px 10px -3px;
}

.van-container:nth-child(1) {
  grid-column: 1;
}
.van-container:nth-child(2) {
  grid-column: 2;
}
.van-container:nth-child(3) {
  grid-column: 1;
}
.van-container:nth-child(4) {
  grid-column: 2;
}
.van-container:nth-child(5) {
  grid-column: 1;
}
.van-container:nth-child(6) {
  grid-column: 2;
}

.passenger:not(:last-child) {
  margin-bottom: 0.5rem;
}

.passenger:hover,
.passenger:focus {
  cursor: grab;
  font-weight: 500;
  letter-spacing: -0.1px;
  background: none;
  opacity: 0.9;
}

.dragged-passenger {
  background: none;
  font-weight: 200;
  opacity: 0.5;
}

/************** Select Employee Styles *****************/

.employee-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.employee-container ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.employee-container li:not(:last-child) {
  padding: 9px;
  border: 1px solid #00253d42;
  border-radius: 3px;
}

.employee-container li:hover,
.employee-container li:focus {
  box-shadow: inset 3px 3px 5px -5px;
}

.btn-next {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  background: #00253daa;
  border: none;
  padding: 10px 15px 10px 20px;
  border-radius: 3px;
  color: #f1f5fd;
  font-weight: 600;
}

.btn-next:hover,
.btn-next:focus {
  cursor: pointer;
  background: #00253dbc;
  color: #ffffff;
}

.btn-next:active {
  box-shadow: inset 3px 3px 8px -3px #000000;
}

/********* Loading Container ***********/

.loading-container {
  display: grid;
  grid-template-columns: 1rem 0.9rem 0.65rem 2.5rem;
  grid-template-rows: 50% 1.75rem 0.5rem 0.2rem;
  justify-content: center;
  background-image: url("./assets/images/light-shadows.jpg");
  background-color: rgba(230, 243, 251, 0.749);
  background-blend-mode:lighten;
  background-repeat: no-repeat;
  background-size: cover;
  color: #00253dd5;
  padding: 1rem;
  width: 80vw;
  max-width: 450px;
  border-radius: 6px;
  align-items: left;
  box-shadow: 3px 8px 20px -10px #232323;
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateY(0) translateX(-50%);
  animation: scale 0.25s ease-in;
}

@keyframes scale {

   0% {
    transform: translateY(0) translateX(-50%) scale(.975) ;
    opacity: .80
  }

  100% {
    transform: translateY(0) translateX(-50%) scale(1);
    opacity: 1
  }

 
}


.loading-container h2 {
  grid-column: 1 / -1;
}

.smoke:nth-child(2) {
  grid-row: 2;
  align-self: last baseline;
  transform: rotate(-8deg);
  opacity: 0;
}

.smoke:nth-child(3) {
  grid-row: 2;
  align-self: last baseline;
  justify-self: center;
  transform: rotate(10deg);
  opacity: 0;
}
.smoke:nth-child(4) {
  grid-row: 2;
  align-self: last baseline;
  opacity: 0;
}

.loading-van {
  grid-row: 2 / span 3;
  align-self: center;
  opacity: 0.8;
}

/********** banner **********/

/* .banner-container {
  width: 100%;
} */

.banner-el-container {
  display: grid;
  grid-template: auto auto / 20px auto;
  justify-items: left;
  padding: 1rem;
  width: 80vw;
  max-width: 450px;
  border-radius: 6px;
  align-items: left;
  box-shadow: 3px 8px 20px -10px #232323;
  position: fixed;
  bottom: 50%;
  transform: translateY(0) translateX(-50%);
  animation: slideUp 0.5s ease-out, shake 0.5s 0.5s, slideDown 0.5s 3s ease-out;
}

@keyframes slideUp {
  from {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(-50%) rotate(0);
  }
  25% {
    transform: translateX(-50%) rotate(-2deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg);
  }
  75% {
    transform: translateX(-50%) rotate(-2deg);
  }
  100% {
    transform: translateX(-50%) rotate(0);
  }
}

@keyframes slideDown {
    from {
      transform: translateY(0) translateX(-50%);
      opacity: 1;
    }

    to {
    transform: translateY(100%) translateX(-50%);
    opacity: 0;
  }
}

.banner-img {
  grid-row: 1;
  grid-column: 1;
  height: 1.25rem;
}

.banner-title {
  grid-row: 1;
  grid-column: 2;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.banner-description {
  grid-row: 2;
  grid-column: 2;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  line-height: 20px;
  margin-left: 0.5rem;
}

.success {
  background-color: var(--alt-background-green);
  color: var(--alt-color-green);
}

.warning {
  background-color: var(--background-yellow);
  color: var(--color-yellow);
}

.error {
  background-color: var(--alt-background-red);
  color: var(--alt-color-red);
}

.neutral {
  background-color: var(--alt-background-blue);
  color: var(--alt-color-blue);
}
